.text-uppercase {
    text-transform: uppercase;
}

.container {
    width: 70%;
    margin: 0 auto;
}

.container-fluid {
    width: 100%;
}

@for $i from 1 through 5 {
    .mt-#{$i}0 {
        margin-top: 10px * $i;
    }
}

@for $i from 1 through 5 {
    .mb-#{$i}0 {
        margin-bottom: 10px * $i;
    }
}

@for $i from 1 through 5 {
    .ml-#{$i}0 {
        margin-left: 10px * $i;
    }
}

@for $i from 1 through 5 {
    .mr-#{$i}0 {
        margin-right: 10px * $i;
    }
}

.btn {
    text-transform: uppercase;
    padding: 18px 30px;
    font-weight: 600;
    color: $bianco;
}

.btn-red {
    background: $rosso;
    border-radius: 3px;
}