.text-uppercase {
    text-transform: uppercase;
}

.container {
    width: 70%;
    margin: 0 auto;
}

.container-fluid {
    width: 100%;
}

.row {
    display: flex;
}

.mar-15 {
    margin-right: -15px;
    margin-left: -15px;
}

.pad-15 {
    padding-right: 15px;
    padding-left: 15px;
}

@for $i from 1 through 10 {
    .mt-#{$i}0 {
        margin-top: 10px * $i;
    }
}

@for $i from 1 through 10 {
    .mb-#{$i}0 {
        margin-bottom: 10px * $i;
    }
}

@for $i from 1 through 10 {
    .ml-#{$i}0 {
        margin-left: 10px * $i;
    }
}

@for $i from 1 through 10 {
    .mr-#{$i}0 {
        margin-right: 10px * $i;
    }
}

.btn {
    text-transform: uppercase;
    padding: 18px 30px;
    font-weight: 600;
    color: $bianco;
    cursor: pointer;
}

.btn-red {
    background: $rosso;
    border-radius: 3px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    &:hover {
        background: $rosso-scuro;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
}

.btn-red-relief {
    box-sizing: border-box;
    background: $rosso;
    border-bottom: 4px solid $rosso-scuro;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    &:hover {
        background: $rosso-scuro;
        transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
}