.who {
    padding: 60px 0;
    .who-container {
        display: flex;
        flex-direction: row;
        .who-icon {
            // margin-top: 5px;
            color: $grigio;
            display: flex;
            align-items: flex-start;
            i {
                font-size: 1.5em;
                padding-right: 30px;
            }
        }
        .who-content {
            padding-right: 15px;
            h4 {
                text-transform: uppercase;
                font-weight: 600;
                margin-bottom: 20px;
                font-size: 1.25em;
            }
            p {
                color: $grigio;
                margin-bottom: 20px;
            }
            span {
                color: $rosso;
                font-style: italic;
                a {
                    color: $rosso;
                    text-decoration: none;
                }
            }
        }
    }
}

.countdown {
    background: url('../img/countdown-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    padding: 100px 0;
    text-align: center;
    .countdown-numbers {
        display: flex;
        justify-content: center;
        text-align: center;
        div {
            padding: 20px 30px;
            margin: 0 10px;
            border-radius: 5px;
            color: $bianco;
            h1 {
                font-weight: 800;
                font-size: 3em;
                margin-bottom: 10px;
            }
            span {
                text-transform: uppercase;
                font-weight: 400;
            }
            &.days {
                background: rgba($color: #000000, $alpha: 0.8);
            }
            &.hours {
                background: rgba($color: #000000, $alpha: 0.6);
                padding: 20px 40px;
            }
            &.mins {
                background: rgba($color: #000000, $alpha: 0.45);
                padding: 20px 40px;
            }
            &.secs {
                background: rgba($color: #000000, $alpha: 0.25);
                padding: 20px 40px;
            }
        }
    }
    .countdown-text {
        padding: 30px 0;
        h3 {
            color: $nero;
            text-transform: uppercase;
            letter-spacing: 5px;
        }
    }
    .countdown-form {
        display: flex;
        align-items: center;
        justify-content: center;
        input {
            border-radius: 0;
            background: $bianco;
            padding: 20px 30px;
            margin-right: 10px;
            width: 350px;
        }
        ::placeholder {
            color: $grigio-chiaro;
        }
    }
}

.section-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .section-left {
        h2 {
            color: $grigio-scuro;
            font-size: 2em;
            text-transform: uppercase;
            letter-spacing: 5px;
        }
    }
    .section-right {
        span {
            color: $rosso;
            font-style: italic;
        }
    }
}

.speakers {
    padding: 80px 0;
    background: $grigio-chiarissimo;
    .section-right {
        display: flex;
        .btn-slider {
            background: $rosso;
            height: 32px;
            width: 32px;
            border-radius: 3px;
            margin-left: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            i {
                color: $bianco;
                font-size: 0.75em;
            }
        }
    }
    .speakers-container {
        padding: 0 15px;
        .speakers-card {
            text-align: center;
            img {
                width: 100%;
                margin-bottom: 15px;
                border-radius: 5px;
            }
            h4 {
                margin-bottom: 10px;
                text-transform: uppercase;
                color: $grigio-scuro;
            }
            span {
                font-style: italic;
                color: $grigio-chiaro
            }
        }
    }
}

.program {
    padding: 120px 0;
    background: $bianco;
    .section-left {
        display: flex;
        align-items: center;
        p {
            color: $grigio;
            margin-left: 35px;
            font-size: 0.85em;
            line-height: 20px;
        }
    }
    .program-calendar {
        background: $grigio-chiarissimo;
        .program-calendar-navbar {
            display: flex;
            .navbar-day {
                background: $rosso;
                border-right: 1px solid $rosso-scuro;
                color: $bianco;
                width: 100%;
                padding: 13px 25px;
                h4 {
                    font-weight: 700;
                    text-transform: uppercase;
                    font-size: 1.15;
                }
                span {
                    font-size: 0.85em;
                    font-weight: 300;
                }
                &.active {
                    background: $rosso-scuro;
                }
                &.last {
                    border: none;
                }
            }
        }
        .program-calendar-content {
            display: flex;
            width: 100%;
            padding-bottom: 50px;
            .content-left {
                display: flex;
                flex-direction: column;
                padding-left: 50px;
                padding-top: 50px;
                span {
                    margin-bottom: 20px;
                    color: $grigio;
                    text-transform: uppercase;
                    font-size: 0.85em;
                    i {
                        margin-right: 15px;
                    }
                    &:last-child {
                        color: $rosso;
                        i {
                            color: $grigio;
                        }
                    }
                }
            }
            .content-right {
                padding-left: 30px;
                padding-top: 50px;
                padding-right: 60px;
                h3 {
                    font-size: 1.5em;
                    color: $nero;
                    text-transform: uppercase;
                    letter-spacing: 3px;
                    margin-top: 0;
                    margin-bottom: 25px;
                    font-weight: 500;
                }
                p {
                    color: $grigio;
                    font-size: 0.85em;
                    margin-bottom: 25px;
                    font-weight: 400;
                }
                img {
                    height: 40px;
                    width: 40px;
                    border-radius: 3px;
                }
            }
        }
    }
}

#map {
    height: 450px;
    width: 100%;
}

.location {
    background: url('../img/location-bg.jpg');
    padding: 100px 0;
    background-size: cover;
    background-position: center;
    color: $bianco;
    display: flex;
    justify-content: center;
    .location-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        h3 {
            text-transform: uppercase;
            font-size: 2.15em;
            margin-bottom: 35px;
            letter-spacing: 3px;
        }
        h4 {
            text-transform: uppercase;
            font-size: 1.5em;
            margin-bottom: 10px;
            letter-spacing: 3px;
        }
        span {
            margin-bottom: 20px;
            i {
                font-size: 0.75em;
                margin-right: 10px;
            }
            a {
                color: $rosso;
                text-decoration: none;
            }
        }
        .location-contacts {
            width: 430px;
            margin-top: 20px;
            padding-top: 5px;
            border-top: 3px solid $bianco;
            display: flex;
            justify-content: space-between;
            margin-bottom: -20px;
        }
    }
}

.news {
    padding: 80px 0;
    .news-card {
        padding: 0 15px;
        .img {
            position: relative;
            margin-bottom: 20px;
            .sticky {
                position: absolute;
                background: $grigio-scuro;
                padding: 10px 15px;
                bottom: 0;
                right: 0;
                span {
                    color: $bianco;
                    text-transform: uppercase;
                    font-weight: 600;
                    font-style: normal;
                    i {
                        margin-right: 5px;
                    }
                }
            }
            img {
                width: 100%;
                vertical-align: middle;
            }
        }
        
        span {
            color: $grigio-chiaro;
            font-style: italic;
            font-size: 0.9em;
            a {
                color: $rosso;
                text-decoration: none;
                font-size: 1em;
            }
        }
        h4 {
            text-transform: uppercase;
            margin-top: 10px;
            margin-bottom: 20px;
            letter-spacing: 3px;
            font-size: 1.25em;
        }
        p {
            color: $grigio-chiaro;
            font-size: 0.85em;
            margin-bottom: 20px;
            line-height: 23px;
        }
    }
}

.ticket {
    padding: 80px 0;
    background: url('../img/ticket-bg.jpg');
    text-align: center;
    h3 {
        text-transform: uppercase;
        font-size: 2.15em;
        margin-bottom: 35px;
        letter-spacing: 3px;
        color: $bianco;
    }
    .ticket-container {
        display: flex;
        flex-direction: column;
        .ticket-price {
            background: $grigio-chiarissimo;
            padding: 25px 0;
            h4 {
                text-transform: uppercase;
                color: $nero;
                margin-bottom: 10px;
                font-size: 1.25em;
            }
            span {
                text-transform: uppercase;
                color: $rosso;
                font-weight: 700;
            }
        }
        .ticket-info {
            background: $bianco;
            padding: 25px 0;
            ul {
                list-style: none;
                color: $grigio;
                font-style: italic;
                li {
                    padding: 10px 0;
                }
            }
        }
        .ticket-button {
            button {
                background: $rosso;
                color: $bianco;
                width: 100%;
                padding: 15px 0;
                text-transform: uppercase;
                font-weight: 600;
            }
        }
    }
}

.presentation-twitter {
    padding: 100px 0;
    .presentation {
        h2 {
            color: $grigio-scuro;
            font-size: 2em;
            text-transform: uppercase;
            letter-spacing: 5px;
            margin-bottom: 40px;
        }
    }
    .twitter {
        h2 {
            color: $grigio-scuro;
            font-size: 2em;
            text-transform: uppercase;
            letter-spacing: 5px;
            margin-bottom: 40px;
        }
        .twitter-container {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .twitter-feed {
                display: flex;
                margin-bottom: 25px;
                .feed-icon {
                    padding-right: 20px;
                    i {
                        color: #1DA1F2;
                        font-size: 1.75em;
                        margin-top: 5px;
                    }
                }
                .feed-comment {
                    font-size: 0.85em;
                    p {
                        color: $grigio;
                        margin-bottom: 15px;
                        a {
                            text-decoration: none;
                            color: $rosso;
                        }
                    }
                    span {
                        font-style: italic;
                        color: $grigio;
                    }
                }
            }
        }
    }
}

.sponsors {
    padding: 80px 0;
    background: $grigio-chiarissimo;
    text-align: center;
    display: flex;
    justify-content: center;
    .sponsors-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        h3 {
            text-transform: uppercase;
            font-size: 2.15em;
            letter-spacing: 3px;
            color: $nero;
            margin-bottom: 20px;
        }
        p {
            color: $grigio;
            font-size: 1em;
            margin-bottom: 35px;
            line-height: 25px;
            width: 425px;
        }
    }
    img {
        width: 100%;
        padding: 0 15px;
    }
}