.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
    background: $bianco;
    .navbar-left {
        .navbar-logo {
            height: 25px;
            vertical-align: middle;
            cursor: pointer;
            &:hover {
                opacity: 0.85;
            }
        }
    }
    .navbar-right {
        ul {
            list-style: none;
            display: flex;
            li {
                text-transform: uppercase;
                color: $grigio;
                font-weight: 700;
                margin-left: 35px;
                font-size: 0.75em;
                text-decoration: none;
                a {
                    color: $grigio;
                    text-decoration: none;
                    font-weight: 700;
                    letter-spacing: 2px;
                    position: relative;
                    &.active {
                        color: $rosso;
                        .nav-active {
                            width: 100%;
                            height: 3px;
                            background: $rosso;
                            position: absolute;
                            top: 20px;
                        }
                    }
                }
            }
        }
    }
}