// grid system
$grid-sm: 576px;
$grid-md: 768px;
$grid-lg: 992px;
$container-sm: 540px;
$container-md: 720px;
$container-lg: 960px;

// colori
$bianco: #fff;
$nero: #000;
$rosso: #f72b0c;
$rosso-scuro: #b61f08;
$grigio-scuro: #272727;
$grigio-scurissimo: #161615;
$grigio: #868686;
$grigio-chiaro: #c6c1bd;
$grigio-chiarissimo: #f3f3f3;
$salmone: #f0776b;